<div>
    <el-card class="admin-header">
        <a href="/index">
            <img src="../../../assets/Images/logo/logo1.jpg" alt=""  style="width: 55px;float: left;margin-top: -5px;">
        </a>
        <span style="font-size: 32px;font-weight: bold;position:absolute;left: 100px">管理後台</span>
        <el-icon @click="logout" class="el-icon-switch-button"
                 style="float:right;font-size: 30px;color: #222" >
            <i-switch-button/>
        </el-icon>
    </el-card>
</div>
