<body id="poster">
    <el-form  class="login-container" label-position="top"
              label-width="0px">
        <h3 class="login_title">Login</h3>
        <el-form-item>
<!--        <el-form-item label="Username">-->
            <el-input type="text" v-model="loginForm.username"  auto-complete="off" placeholder="Username"></el-input>
        </el-form-item>
        <el-form-item>
<!--        <el-form-item label="Password">-->
            <el-input type="password" v-model="loginForm.password" auto-complete="off" placeholder="Password"></el-input>
        </el-form-item>
        <el-form-item >
            <el-button type="primary" style="width:100%;background: #505458;border: none" v-on:click="login">Login</el-button>
            <router-link to="register"><el-button type="primary" size="small" style="width: 20%;background: #505458;border: none">註冊</el-button></router-link>
        </el-form-item>
    </el-form>

</body>
