<el-menu
        :default-active="currentPath"
        class="el-menu-admin"
        router
        mode="vertical"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        :collapse="isCollapse">
    <div style="height: 80px;"></div>
    <!--index 没有用但是必需字段-->
    <el-sub-menu  v-for="(item,i) in adminMenus" :key="i" :index="(i).toString()" style="text-align: left">
        <template #title>
            <el-icon>
                <component :is="item.iconCls"></component>
            </el-icon>
            <span style="font-size: 17px;">{{item.nameZh}}</span>
        </template>

        <el-menu-item v-for="child in item.children" :key="child.path" :index="child.path">
<!--            <i :class="child.icon"></i>-->
            {{ child.nameZh }}
        </el-menu-item>
    </el-sub-menu>
</el-menu>
