<div>
    <el-dialog
            title="修改用戶訊息"
            v-model="dialogFormVisible">
        <el-form v-model="selectedUser" style="text-align: left" ref="dataForm">
            <el-form-item label="用户名" label-width="120px" prop="username">
                <label>{{ selectedUser.username }}</label>
            </el-form-item>
            <el-form-item label="真實姓名" label-width="120px" prop="name">
                <el-input v-model="selectedUser.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="手機" label-width="120px" prop="phone">
                <el-input v-model="selectedUser.phone" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="E-mail" label-width="120px" prop="email">
                <el-input v-model="selectedUser.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密碼" label-width="120px" prop="password">
                <el-button type="warning" @click="resetPassword(selectedUser.username)">重置密碼</el-button>
            </el-form-item>
            <el-form-item label="角色分配" label-width="120px" prop="roles">
                <el-checkbox-group v-model="selectedRolesIds">
                    <el-checkbox v-for="(role,i) in roles" :key="i" :label="role.id">{{ role.nameZh }}</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
        </el-form>
        <template #footer>
        <span class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="onSubmit(selectedUser)">確 定</el-button>
          </span>
        </template>
    </el-dialog>
    <el-row style="margin: 18px 0px 0px 18px ">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/admin/dashboard' }">管理中心</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户信息</el-breadcrumb-item>
        </el-breadcrumb>
    </el-row>
    <bulk-registration @onSubmit="listUsers()"></bulk-registration>
    <el-card style="margin: 18px 2%;width: 95%">
        <el-table
                :data="users"
                stripe
                :default-sort="{prop: 'id', order: 'ascending'}"
                style="width: 100%"
                :max-height="tableHeight">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="id"
                    sortable
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名"
                    fit>
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="真實姓名"
                    fit>
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="手機"
                    fit>
            </el-table-column>
            <el-table-column
                    prop="email"
                    label="E-mail"
                    show-overflow-tooltip
                    fit>
            </el-table-column>
            <el-table-column
                    label="狀態"
                    width="100">
                <template #default="scope">
                    <el-switch
                            v-model="scope.row.enabled"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            @change="(value) => commitStatusChange(value, scope.row)">
                    </el-switch>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="120">
                <template #default="scope">
                    <el-button
                            @click="editUser(scope.row)"
                            type="text"
                            size="small">
                        編輯
                    </el-button>
                    <el-button
                            @click="deleteUser(scope.row.id)"
                            type="text"
                            size="small">
                        移除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <div style="margin: 20px 0 20px 0;float: left">
            <el-button>取消選擇</el-button>
            <el-button>刪除</el-button>
        </div>
    </el-card>
</div>