<div>
    <el-menu
            :default-active="'/index'"
            router
            mode="horizontal"
            background-color="white"
            text-color="#222"
            active-text-color="red"
            style="min-width: 1300px"

    >
        <el-menu-item v-for="item in navList" :key="item.navItem" :index="item.name">
            {{ item.navItem }}
        </el-menu-item >

            <span style="position:absolute;padding-top: 10px;right: 43%; font-size: 20px;font-weight: bold">Library Management System</span>

    </el-menu>
</div>
