<div style="text-align: left">
    <el-button class="add-button" type="success" @click="dialogFormVisible = true">新增書籍</el-button>
    <el-dialog
            title="新增/修改圖書"
            v-model="dialogFormVisible"
            @close="clear">
        <el-form :model="form" style="text-align: left" label-position="left" ref="dataForm">
            <el-form-item label="書名" :label-width="formLabelWidth" prop="title">
                <el-input v-model="form.title" autocomplete="off" placeholder="不加《》"></el-input>
            </el-form-item>
            <el-form-item label="作者" :label-width="formLabelWidth" prop="author">
                <el-input v-model="form.author" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="出版日期" :label-width="formLabelWidth" prop="date">
                <el-input v-model="form.date" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="出版社" :label-width="formLabelWidth" prop="press">
                <el-input v-model="form.press" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="封面" :label-width="formLabelWidth" prop="cover">
                <el-input v-model="form.cover" autocomplete="off" placeholder="圖片 URL"></el-input>
                <ImgUpload @onUpload="uploadImg" ref="imgUpload"></ImgUpload>
            </el-form-item>
            <el-form-item label="簡介" :label-width="formLabelWidth" prop="abs">
                <el-input type="textarea" v-model="form.abs" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="分類" :label-width="formLabelWidth" prop="cid">
                <el-select v-model="form.category.id" placeholder="請選擇分類">
                    <el-option label="文學" value="1"></el-option>
                    <el-option label="流行" value="2"></el-option>
                    <el-option label="文化" value="3"></el-option>
                    <el-option label="生活" value="4"></el-option>
                    <el-option label="經管" value="5"></el-option>
                    <el-option label="科技" value="6"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="id" style="height: 0">
                <el-input type="hidden" v-model="form.id" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取消</el-button>
            <el-button type="primary" @click="onSubmit">確定</el-button>
          </span>
        </template>
    </el-dialog>
</div>
